<ons-page>
<div class="login-form">
    <div class="logo"></div>
    <ons-button modifier="large" class="login-button" ng-click="movePage('menu.html');">menu</ons-button>
    <br>
    <ons-button modifier="large" class="login-button" ng-click="movePage('signup.html');">新規登録</ons-button>
    <br>
    <ons-button modifier="large" class="login-button" ng-click="movePage('signin.html');">サインイン</ons-button>
    
</div>
<ons-modal var="modal">
  <ons-icon icon="ion-load-c" spin="true"></ons-icon>
  <br>
  <br> Please wait.
</ons-modal>

<style>

.login-form {
  text-align: center;
  width: 80%;
  margin: 60px auto 0;
}

.logo {
    width: 100%;
    height: 300px;
}

input[type=email], input[type=password] {
  display: block;
  width: 100%;
  margin: 0 auto;
  outline: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.login-button {
  width: 100%;
  margin: 0 auto;
  //position : absolute ;
  //bottom : 0 ;
}

.forgot-password {
  display: block;
  margin: 8px auto 0 auto;
  font-size: 14px;
}
</style>

<style>
.login-form {
  text-align: center;
  width: 80%;
  margin: 60px auto 0;
}

input[type=email], input[type=password] {
  display: block;
  width: 100%;
  margin: 0 auto;
  outline: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.login-button {
  width: 100%;
  margin: 0 auto;
}

.forgot-password {
  display: block;
  margin: 8px auto 0 auto;
  font-size: 14px;
}
</style>

</ons-page>
